@model Web.Models.ViewModel

<div class="container">
    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Status)
            </dd>
        </dl>

        <a class="btn btn-secondary" asp-controller="User" asp-action="FindUser">Go Back</a>
        <a class="btn btn-secondary" @Html.ActionLink("Edit", "EditUserPermissionCheck", new { phonenumber = Model.User.PhoneNumber })
    </div>
    @Model?.Message
</div>